@import '../../global/bootstrap-init';

// Override sidebar.
.glb-grid-item,
.layout-builder-browser-block-item {
  width: calc(50% - 20px);
  color: var(--bs-secondary);
  padding-bottom: 10px;
  text-align: center;
}

.glb-grid-item svg,
.layout-builder-browser-block-item svg,
.glb-grid-item img,
.layout-builder-browser-block-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.glb-layout-builder-browser .glb-claro-details__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: inherit !important;
  margin-right: inherit !important;
}

// Update help block size.
.block-help-block {
  font-size: 12px;

  p {
    margin-bottom: 0.5rem;
  }
}

body .ui-dialog .ui-dialog-titlebar {
  line-height: 2rem;
}

/**
 * Hide handle.
 */
#layout-builder-modal a.tabledrag-handle .handle {
  display: none;
}

body #layout-builder-modal ul {
  background: $white;
}

// Override the move block sidebar.
.layout-builder-components-table__block-label .tabledrag-handle {
  position: relative;
  top: 4px;

  .handle {
    display: none;
  }
}

#layout-builder-components-table {

  table {
    margin: 0 20px;
  }

  .tabledrag-changed-warning {
    margin-bottom: 20px;
  }
}

// Add border around layout builder blocks.
body .layout-builder-block {
  border: 1px dashed $black;
  margin-bottom: 10px !important;
}

// Adjust the layout builder links positioning.
.layout-builder__link--remove,
.layout-builder__link--configure {
  top: -27px;
}

// Make preview images full height.
#layout-builder-modal .glb-media-library-item__preview img {
  height: 100%;
}

// Hide the view mode setting.
.layout-builder-configure-block .form-item-settings-view-mode {
  display: none;
}
