{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'container-fluid',
    'pt-6 pb-6 pt-lg-12 pb-lg-12',
  ]
%}

{% set layout = content.field_teaser_layout|field_value|render %}

{%
  set link = {
    url: content.field_link[0]['#url'],
    text: content.field_link[0]['#title'],
    modifier:  content.field_teaser_bg|field_value|render == 'dark' ? 'btn-outline-primary' : 'btn-primary',
  }
%}

<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {%
      include '@<%= themeNameMachine %>/teaser/teaser.twig' with {
        title: content.field_title|field_value,
        eyebrow: content.field_eyebrow|field_value,
        summary: content.field_summary,
        link: link,
        image: content.field_media,
        modifier: content.field_teaser_bg|field_value|render == 'dark' ? 'rounded-4 shadow bg-dark text-white' : 'rounded-4',
        layout: content.field_teaser_layout|field_value|render,
      } only
    %}
  {% endblock %}
</div>
