<div class="container-fluid">
  {% for item in items %}
    <div class="row mb-2">
      <div>
        {{ item.link }}
      </div>
      <h2><a href="{{ item.link }}" class="text-secondary">{{ item.title }}</a></h2>
      <div>{{ item.summary }}</div>
    </div>
  {% endfor %}
</div>
