{#
/**
 * @file
 * Default theme implementation to display the Hero block.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
  ]
%}
{# Use boolean to disable overlay if TRUE #}
{% if content.field_boolean_overlay['#items'].getString() == 1 %}
  {% set overlay = 'remove-overlay' %}
  {% set text_color = 'text-dark' %}
{% else %}
  {% set overlay = '' %}
  {% set text_color = 'text-light' %}
{% endif %}
{# Position field set to 'center' by default #}
{%
  set position = content.field_text_position['#items'].getString()
%}
{# Position field defines text alignment #}
{% if position == 'align_left' %}
  {% set modifier = 'col-sm-12 col-lg-8 me-lg-auto text-start' %}
  {% set btnModifier = 'align-self-start' %}
{% elseif position == 'align_right' %}
  {% set modifier = 'col-sm-12 col-lg-8 ms-lg-auto text-end' %}
  {% set btnModifier = 'align-self-end' %}
{% elseif position == 'pin_left'  %}
  {% set modifier = 'col-sm-12 col-lg-6 col-xl-5 me-lg-auto me-xl-auto text-start' %}
{% elseif position == 'pin_right'  %}
  {% set modifier = 'col-sm-12 col-lg-6 col-xl-5 offset-lg-6 offset-xl-7 text-start' %}
{% else %}
  {% set modifier = 'col-md-10 col-lg-8 default text-center' %}
  {% set btnModifier = 'mx-auto' %}
{% endif %}
{# Pass content to Storybook component #}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% include '@<%= themeNameMachine %>/hero/hero.twig' with {
      media: content.field_media|render,
      eyebrow: content.field_eyebrow|field_value,
      title: content.field_heading|field_value,
      subtitle: content.field_summary|render|trim is not empty ? content.field_summary,
      button: {
        text: content.field_link[0]['#title'],
        url: content.field_link[0]['#url'],
        modifier: btnModifier ~ ' btn-primary has-icon',
        icon: 'arrow_right_alt',
      },
      modifier: modifier ~ ' ' ~ text_color,
      overlay: overlay,
      layout: 'rounded'
    } only %}
  {% endblock %}
</div>
