// Import site utilities.
@import '../../global/bootstrap-init';

.stats-item {

  .material-symbols-outlined {
    font-size: 3rem;
  }

  img {
    width: 32px;
    margin-bottom: 1rem;
  }
}

// Adjust stats image size per breakpoint.
.stats-image {
  text-align: center;

  img {
    width: 100%;
  }

  @include media-breakpoint-up(md) {

    img {
      width: 70%;
    }
  }

  @include media-breakpoint-up(xl) {

    img {
      width: 50%;
    }
  }

  @include media-breakpoint-up(xxl) {

    img {
      width: 100%;
    }
  }
}
