{{ attach_library('<%= themeNameMachine %>/accordion') }}

<div class="text-dark mb-4 container-fluid {{ modifier }}">
  <div class="accordion">
    {% block accordion_items %}
      {% for item in items %}
        {%
          include '@ignite_theme/accordion/accordion-item.twig' with { item: item } only
        %}
      {% endfor %}
    {% endblock %}
  </div>
</div>
