// Import site utilities.
@import '../../global/bootstrap-init';

// Spinners

// scss-docs-start spinner-variables
$spinner-width:           2rem !default;
$spinner-height:          $spinner-width !default;
$spinner-vertical-align:  -0.125em !default;
$spinner-border-width:    0.25em !default;
$spinner-animation-speed: 0.75s !default;

$spinner-width-sm:        1rem !default;
$spinner-height-sm:       $spinner-width-sm !default;
$spinner-border-width-sm: 0.2em !default;
// scss-docs-end spinner-variables


// Include Spinner styles.
@import 'bootstrap/scss/spinners';
