
@import '../form/form.scss';

// One-off styles for the newsletter form button.
.btn-newsletter {
  font-size: 16px;
  font-weight: 600;
  padding: 11.5px 18px;
  border-top: 0;
  border-bottom: 0;
}
