<div class="container-fluid">
  {% for item in items %}
    {% block search_item %}
      {%
        include '@<%= themeNameMachine %>/search-results/search-results.item.twig' with {
          item: item
        } only
      %}
    {% endblock %}
  {% endfor %}
</div>
