{#
/**
 * @file
 * Theme override for the "teaser" view mode.
 */
#}

<div class="carousel-multi-item col-md-6 col-lg-5 col-xxl-4">
  {%
    include '@<%= themeNameMachine %>/card/card.twig' with {
      "card": {
        "media": content.field_thumbnail,
        "heading": {
          "title": label,
          "heading_level": "3",
          "url": url,
          "modifier": "text-dark mb-2"
        },
        "summary_text": content.field_summary|field_value,
        "link": {
          "text": content.field_link[0]['#title'],
          "url": content.field_link[0]['#url']
        },
        "tags": content.field_tags|field_value,
      }
    } only
  %}
</div>
