<div class="carousel-item {{ item.active ? 'active' : ''}}">
  {% if item.image %}
    {{ item.image }}
  {% endif %}
  <div class="carousel-caption">
    {% if item.title %}
      {%
        include '@<%= themeNameMachine %>/heading/heading.twig' with {
          "heading": {
            "title": item.title,
            "heading_level": 2,
            "modifier": "carousel-item__title",
          }
        } only
      %}
      {% if item.button.text %}
        <div class="p-2">
          {%
            include '@<%= themeNameMachine %>/button/button.twig' with {
              "button": {
                "text": item.button.text,
                "url": item.button.url,
                "modifier": item.button.modifier
              }
            } only
          %}
        </div>
      {% endif %}
    {% endif %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
