// Import site utilities.
@import '../../global/bootstrap-init';

.btn {
  font-size: $input-btn-font-size-sm;
  line-height: 1;
  padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;

  @include media-breakpoint-up(md) {
    font-size: $input-btn-font-size-md;
    padding: $input-btn-padding-y-md $input-btn-padding-x-md;
  }

  @include media-breakpoint-up(lg) {
    font-size: $input-btn-font-size-lg;
    padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
  }

  &.has-icon {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: fit-content;

    span {
      margin-left: 8px;
      overflow: hidden;
    }
  }

  &.btn-primary {
    border-color: $primary;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  &.btn-outline-primary {
    background-color: $white;

    &:hover,
    &:focus {
      background-color: $secondary;
      border-color: $secondary;
    }
  }

  &:hover,
  &:focus {
    background-color: $secondary;
    border-color: $secondary;
  }
}
