// Import site utilities.
@import '../../global/bootstrap-init';

.blockquote {

  .open-quote {
    position: relative;
    left: -15px;
  }

  .closed-quote {
    position: relative;
    left: 15px;
  }
}

.quote-logo {

  img {
    max-width: 110px;
  }
}

.quote-image {
  max-width: 120px;
}

.quote-text {
  text-align: left;
  margin-left: 12px;
}

@include media-breakpoint-up(md) {

  .quote-text {
    margin-top: 3px;
  }
}
