// Import site utilities.
@import '../../global/bootstrap-init';

// Carousel

// scss-docs-start carousel-variables
$carousel-control-color:             $white !default;
$carousel-control-width:             15% !default;
$carousel-control-opacity:           0.5 !default;
$carousel-control-hover-opacity:     0.9 !default;
$carousel-control-transition:        opacity 0.15s ease !default;

$carousel-indicator-width:           30px !default;
$carousel-indicator-height:          3px !default;
$carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer:          3px !default;
$carousel-indicator-opacity:         0.5 !default;
$carousel-indicator-active-bg:       $white !default;
$carousel-indicator-active-opacity:  1 !default;
$carousel-indicator-transition:      opacity 0.6s ease !default;

$carousel-caption-width:             70% !default;
$carousel-caption-color:             $white !default;
$carousel-caption-padding-y:         1.25rem !default;
$carousel-caption-spacer:            1.25rem !default;

$carousel-control-icon-width:        2rem !default;

$carousel-control-prev-icon-bg:      url('data:image/svg+xml,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.3333 12.4998H7.04999L16.3667 3.18313L14 0.83313L0.666656 14.1665L14 27.4998L16.35 25.1498L7.04999 15.8331H27.3333V12.4998Z" fill="#111112"/></svg>') !default;
$carousel-control-next-icon-bg:      url('data:image/svg+xml,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 0.83313L11.65 3.18313L20.95 12.4998H0.666656V15.8331H20.95L11.65 25.1498L14 27.4998L27.3333 14.1665L14 0.83313Z" fill="#111112"/></svg>') !default;

$carousel-transition-duration:       0.6s !default;
$carousel-transition:                transform $carousel-transition-duration ease-in-out !default; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)
// scss-docs-end carousel-variables

// scss-docs-start carousel-dark-variables
$carousel-dark-indicator-active-bg:  $black !default;
$carousel-dark-caption-color:        $black !default;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100) !default;
// scss-docs-end carousel-dark-variables

// Include Carousel styles.
@import 'bootstrap/scss/carousel';
