{{ attach_library('<%= themeNameMachine %>/carousel') }}

<div id="carousel{{ id }}" class="carousel-single carousel slide{{ attributes ? ' ' ~ attributes.class}}" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% block carousel_items %}
      {% for item in list %}
        {%
          include '@<%= themeNameMachine %>/carousel/carousel-item.twig' with {
            "id": id,
            "item": item
          } only
        %}
      {% endfor %}
    {% endblock %}
  </div>
</div>
